* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: system-ui;
}

body {
    background-color: #478eff;
    width: 100%;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

@media (max-width: 750px) {
    .game,
    body {
        width: 500px;
        margin: auto;
    }
    .game .box {
        width: 100px;
        height: 100px;
        font-size: 60px;
    }
    .title {
        width: 80%;
        font-size: 20px
    }
}

button {
    margin: 10px auto;
    width: 200px;
    height: 50px;
    background-color: blue;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #002054;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

input {
    width: 250px;
    height: 30px;
    margin: 10px;
    border-radius: 8px;
    border: none;
    padding: 8px;
    outline: #002054;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

h1 {
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 20px auto;
}

.developer {
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 20px auto;
}

.photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid white;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin: 20px auto;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin: 20px auto;
    gap: 20px;
}

.social a {
    color: white;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}

.social a:hover {
    color: #002054;
}